<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <!--<appSettings configSource="Deployment\AppSettings.config"/>-->
  <appSettings>
    <add key="Cloud Name" value="thecaricatures"/>
    <add key="API Key" value="212361828245573"/>
    <add key="API Secret" value="Nuy0Ac1wP3auSDSMZD2lLiYRcLo"/>
    <add key="Environment Variable" value="CLOUDINARY_URL=cloudinary://212361828245573:Nuy0Ac1wP3auSDSMZD2lLiYRcLo@thecaricatures"/>
    <add key="Base Delivery URL" value="http://res.cloudinary.com/thecaricatures "/>
    <add key="Secure Delivery URL" value="https://res.cloudinary.com/thecaricatures "/>
    <add key="API Base URL" value="https://api.cloudinary.com/v1_1/thecaricatures "/>
  </appSettings>
</configuration>